Leningrad_2_Expansion/.DS_Store
Leningrad_2_Expansion/pcbway_production/.DS_Store
.DS_Store
/Leningrad_2_Expansion/Leningrad_2_Expansion-backups
Leningrad_2_Expansion/Leningrad_2_Expansion.kicad_prl
Leningrad_2_Expansion/fp-info-cache
